.listings-filters { 
	font-size: $filters-font-size;
	color: $filters-text-color;
	background-color: $filters-background-color; 
	line-height: 30px;
	padding: 2px 8px;
	border: 1px solid $filters-border-color;
	margin-bottom: 16px;
	float: left;
	label {
		margin-left: 8px; 
	}
	input[type="text"] {
		width: $filters-size;
		padding-left: 4px;
	}
	input, select {
		border: 1px solid darken($filters-base-color, 10%);
	}
	select {
		max-width: 180px;
	}
	table { 
		border-collapse: separate; 
	}
	td { 
		padding: 3px;
		margin: 1px;
		vertical-align: middle; 
	}
	button {
		@extend %filters-button;
	}
}
