.site-header {
	overflow: hidden;
	font-family: $header-font-family;
	background-color: $header-background-color;
	padding: 12px 12px 2px;
	border-bottom: $header-border;
	margin-bottom: 16px;
	.links-container {
		margin-top: 1rem;
		overflow: hidden;
	}
}
.site-title {
	@extend h1;
	float: left;
	margin: 0;
}
.breadcrumbs {
	font: {
		family: $utility-font-family;
		size: $breadcrumbs-font-size;
	}
	float: left;
	@include horizontal-divided-list('\00BB\0020'); // right-angle quote + space
	ul {
		padding-left: 16px;
	}
}
.header-nav {
	@extend .breadcrumbs;
	float: right;
}
.utility-links {
	font: {
		family: $utility-font-family;
		size: 0.9em;
	}
	float: right;
	@include horizontal-divided-list($bullet-hex-code+'\0020');
	li {
		margin-left:0.2em;
	}
}
.page-content {
	padding: 0 12px 48px 12px;
	font-size: 0.8rem;
}
ul {
	&.landing-nav {
		list-style: none;
		margin: 20px 0 0 20px;
		padding: 0;
		width: 50%;
		li, a {
			font-size: 1.4em;
		}
		li {
			line-height: 1.8em;
			padding: 8px;
			&:hover {
				background-color: $header-background-color;
				cursor: pointer;
			}
		}
		a {
			text-decoration: none;
		}
	}
}
.empty-set {
	color: $dim-text-color;
	font: {
		style: italic;
		size: 1.5em;
	}
}