// metadata //
ul.meta-list {
	@include horizontal-list;
	display: inline-block;
	padding-left: 0;
	li:after {
		content: ',';
	}
	li:last-child,
	li.none-after {
		&:after {
			content: '';
		}
	}
	li.none-after:after {
		margin-right: 0.5em;
	}
}
%metadata-base {
	color: $metadata-text-color;
	ul.meta-list {
		display: inline;
	}
}
.metadata {
	@extend %metadata-base;
	font: {
		family: $metadata-condensed-font-family;
		size: $metadata-font-size;
		weight: 300;
	}
	background: $metadata-background-color;
	padding: 6px;
	border: $metadata-border;
	border-radius: 6px;
	textarea {
		width: 540px;
	}
}
.listings {
	.kw-container {
		@extend %metadata-base;
		font: {
			family: $metadata-font-family;
			weight: 400;
		}
		a {
			color: $app-base-text-color;
		}
		.cell-label {
			display: none;
		}
		textarea {
			width: 100%;
		}
	}
}