%book-page { 
	max-width: 50%;
	background: transparent;
	float: left;
	cursor: pointer;
	&.page-unavailable {
		font: {
			family: Roboto, Arial, sans-serif;
			weight: 100;
			size: 2.5rem;
		}
		width: 100%;
		color: $dim-text-color;
		text-align: center;
		padding-top: 50px;
		&:hover {
			color: $link-text-color;
		}
	}
	&.page-oob {
		background-color: transparent;
		cursor: default;
		width: 50%;
		height: 1px;
	}
	img {
		max-width: 100%;
	}
}
.page-set {
	max-width: 97%;
	margin: 0 auto 24px auto;
	overflow: hidden;
	background-color: $dim-background-color;
	.left-page {
		@extend %book-page;
		text-align: right;
	}
	.right-page {
		@extend %book-page;
		text-align: left;
	}
}

// jquery ui slider //
.scroll-pane { 
	overflow: hidden;
	width: 99%; 
	padding-bottom: 6px;
}
.scroll-content { 
}
.scroll-content-item { 
	height: 80px; 
	float: left; 
	margin: 2px 3px 2px 2px; 
	font-size: 3em; 
	line-height: 96px; 
	text-align: center;
	cursor: pointer;
	img {
		@include solid-border(#b0b0b0);
	}
}
* html .scroll-content-item { display: inline; } /* IE6 float double margin bug */
.scroll-bar-wrap { 
	clear: left;
	width: 99%;
	padding: 0; 
	margin: 0 -1px -1px -1px;
}
.scroll-bar-wrap {
	.ui-slider { 
		background: none; 
		border: 0; 
		height: 2em; 
		margin: 0 auto;  
	}
	.ui-handle-helper-parent {
		position: relative; 
		width: 100%; 
		height: 100%; 
		margin: 0 auto; 
	}
	.ui-slider-handle { 
		top: .2em; 
		height: 1.5em; 
		.ui-icon { 
			margin: -8px auto 0; 
			position: relative; 
			top: 50%; 
		}
	}	
}
.scroll-widget-header {
	background: none #cccccc;
	@include solid-border(#b8b8b8);
}
