.article-gallery {
	display: inherit;
}
.filler {
	height: 0;
}
.grid-caption {
	overflow: hidden;
	font: {
		family: $metadata-font-family;
	}
	color: #ccc;
	background-color: #484848;
	padding: 0.2em 0.4em;
	line-height: normal;
	h4 {
		font: {
			family: $metadata-font-family;
			size: 1.2em;
			weight: bold;
		}
		color: #ccc;
		float: left;
		margin: 0;
		padding: 0;
		&:after {
			content: '\00a0';
		}
	}
}