:focus {
	outline: 0;
} /* << remember to define focus styles! */
#tooltip {
	h3, div {
		font-size: 11px;
		margin-bottom:2px;
	}
	h3 {
		margin-bottom: 2px;
	}
	.preview {
		border: none;
		width: 172px;
		padding: 16px 16px 16px 26px;
		height: 205px;
		opacity: 1.0;
		background: url('/images/tooltip/preview-r.png') no-repeat;
		div {
			width: 128px;
			height: 169px;
			overflow: hidden;
			text-align: left;
		}
		.viewport-right {
			background: url('/images/tooltip/preview-l.png') no-repeat;
		}
	}
}
.tooltip-content {
	display: none;
}
.img-preview-tooltip {
	float: left;
}
