html {
	font-size: $app-base-font-size;
	@media screen and ( max-width: $break-small ) {
		font-size: $app-base-mobile-font-size;
	}
}
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}
body {
	z-index: 1;
	text-align: left;
	background-color: $page-background-color;
	&.mceContentBody {
		text-align: left;
	}
}
body, html, td, input, select {
	font: {
		family: $app-base-font-family;
		weight: normal;
	}
	color: $app-base-text-color;
}
th {
	@extend td;
	font-weight: bold;
}
h1, h2, h3, h4, h5 {
	font: {
		family: $header-font-family;
		weight: $header-font-weight;
	}
}
h1 {
	font-size: $header-font-size;
	color: $header-text-color;
}
h2 {
	font-size: $header-font-size * 0.9;
	color: darken($header-text-color, 20%);
}
h3 {
	font-size: $header-font-size * 0.6;
	color: darken($header-text-color, 40%);
}
h4 {
	font-size: $header-font-size * 0.7;
	color: $app-base-text-color;
}
h5 {
	font-size: 1em;
	color: $app-base-text-color;
}
a {
	color: $link-text-color;
	text-decoration: none;
	&:hover {
		color: mix($link-text-color, $link-focus-mix, 75%);
		text-decoration: underline;
	}
	&:active {
		color: mix($link-text-color, $link-focus-mix, 50%);
		text-decoration: underline;
	}
	&:visited {
		color: darken($link-text-color, 10%);
	}
}
table {
	border-collapse: collapse;
} 
td {
	padding: 0;
	margin: 0;
	vertical-align: top;
}
blockquote {
	font-size: 1.4em;
	margin: 20px 24px 0 24px;
}
acronym {
	border-bottom: 0;
}
form {
	padding: 0;
	margin: 0;
}
img {
	border: 0;
}
