.listings {
	clear: both;
	font-size: $listings-font-size;
	tr:nth-child(odd) {
		background-color: $listings-alt-color;
		&:hover {
			background-color: $listings-alt-hover-color;
		}
	}
	tr:nth-child(1),
	tr:nth-child(even) {
		background-color: $listings-base-color;
		&:hover {
			background-color: $listings-hover-color;
		}
	}
	h2 {
		// font-size: 1em; //
		color: #000;
		padding: 0 0 2px 0;
		margin-top: 12px;
		margin-bottom: 4px;
		a {
			font-weight: normal;
			// font-size: 1em; //
		}
	}
	table {
		@include listings-table;
	}
	th {
		padding: 3px 6px;
		@include listings-column-header;
		border-left: 1px solid $listings-border-color;
		&:first-child {
			border-left: none;
		}
	}
	td { 
		padding: 3px 6px;
		margin: 0;
		// font-size: 11px; //
		border-left: 1px solid $listings-border-color; 
	}
	tr {
		td:first-child {
			border-left: none;
		}
		.section-title {
			td {
				color: #c60;
				background-color: $header-background-color;
				vertical-align: middle;
				border-left: none;
				border-bottom:1px solid darken($header-background-color, 15%);
			}
			.listops {
				padding: 6px 0;
			}
		}
		&.dimtext {
			td {
				color: $dim-text-color;
			}
		}
	}
	a {
		&:link {
			color: #609;
		}
		&:visited {
			color: #306;
		}
	}
	.rborder {
		border-right: $listings-border;
	}
	.lborder {
		border-left: $listings-border;
	}
	.coltitle {
		@include listings-column-header;
	}
}
.album-listings {
	tr:nth-child(4n+0),
	tr:nth-child(4n+1) {
		background-color: $listings-alt-color;
		&:hover {
			background-color: $listings-alt-hover-color;
		}
	}
	tr:nth-child(1),
	tr:nth-child(2),
	tr:nth-child(4n+2),
	tr:nth-child(4n+3) {
		background-color: $listings-base-color;
		&:hover {
			background-color: $listings-hover-color;
		}
	}
}
.gallery-listings {
	tr:nth-child(odd) {
		background-color: $listings-alt-color;
		&:hover {
			background-color: $listings-alt-hover-color;
		}
	}
	tr:nth-child(1),
	tr:nth-child(even) {
		background-color: $listings-base-color;
		&:hover {
			background-color: $listings-hover-color;
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		border-bottom: 1px solid $listings-border-color;
	}
	td {
		padding: 3px 6px;
		margin: 0;
		// font-size:11px; //
	}
	.coltitle {
		@include listings-column-header;
		td {
			vertical-align: middle;
		}
	}
}
.gallery-listings-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.listings-filters {
		margin: 10px 0;
	}
	.page-links-container {
		margin: 10px 0;
	}
}
.photo-gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: flex-start;
	.page-cell {
		// 3-column view on larger viewports //
		max-width: 30vw;
		flex: 1 1 32vw;
		margin: 0 0 .5em 0;
		@media screen and (max-width: $break-small) {
			// 1-column view on smaller viewports //
			max-width: 100vw;
			flex: 1 1 100vw;
		}
	}
	.filler {
		flex: 1 1 32vw;
	}
	img {
		max-width: 30vw;
		@media screen and (max-width: $break-small) {
			max-width: 80vw;
		}
	}
}
table {
	.image-list {
		width: 100%;
		td {
			padding: 3px;
			margin: 1px;
			font-size: 11px;
		}
	}
}
.subgroup {
	/* float: left; */
	min-width: 40%;
	line-height: 1.6em;
	padding: 0.75em;
	@include solid-border(darken($page-background-color,10%));
	margin-bottom: 1em;
	box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem darken($page-background-color,20%);
	border-radius: 0.4rem;
	header {
		margin-bottom: 0.6em;
	}
	h2 {
		padding: 0;
		margin: 0;
	}
	h3 {
		padding: 0;
		margin: 0;
	}
	h4 {
		padding: 0;
		margin: 0;
		font-size: 1.2em;
	}
}
.row-title {
	font-weight: bold;
}
.details-cell {
	cursor: pointer;
}