%filters-button {
	font: {
		family: roboto,verdana,sans-serif;
		size: 0.8em;
		weight: 400;
	}
	color: darken($filters-base-color, 50%);
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: darken($filters-base-color, 7%);
	padding: 0 12px 0 12px;
	border: 1px solid darken($filters-base-color, 20%);
	margin-left: 8px;
	text-shadow: lighten($filters-base-color, 5%) 1px 1px 0;
	border-radius: 3px;
	box-shadow: darken($filters-base-color, 20%) 0 -3px 5px -1px inset;
	&:hover {
		color: darken($filters-base-color, 55%);
		cursor: pointer;
		background-color: darken($filters-base-color, 15%);
		text-shadow: darken($filters-base-color, 5%) 1px 1px 0;
		box-shadow: darken($filters-base-color, 30%) 0 -3px 5px -1px inset;
	}
}
