table {
	&.padded {
		td {
			padding:3px;
		}
	}
	&.padded-separate {
		border-collapse: separate;
		td {
			padding: 3px;
			margin: 2px;
		}
	}
	&.alternating {
		tr {
			&:nth-child(even) {
				background-color: $listings-alt-color;
				&:hover {
					background-color: $listings-alt-hover-color;
				}
			}
		}
	}
	&.datagrid {
		td {
			padding: 3px 6px;
			border: 1px solid #999;
			.rowtitle {
				font-weight: bold;
				text-align: right;
			}
		}
	}
}

