$black-star-hex-code: "\002605";
$bullet-hex-code: "\2022";
$inverted-exclamation-mark-hex-code: "\0000A1";
$inverted-question-mark-hex-code: "\0000BF";
$null-set-hex-code: "\002205";
$not-in-hex-code: "\002209";
$proportional-to-hex-code: "\00221D";
$right-angle-quote-hex-code: "\00BB";
$space-hex-code: "\0020";
$star-solid-hex-code: "\002605";
$star-outline-hex-code: "\002606";
